.page-heading {
  background-image: url(images/heading-1-1920x500.jpg)
}
.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.img-wrapper{
height: inherit;
}
.carousel-item{
  height: 70vh;
}
.carousel-img{
  width: 100% !important;
  height: auto;
  position: absolute;
  bottom: -18.8vh;
}

.loginform{
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}



/*Admin styles*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
